---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://rsms.me/inter/inter.css');

$blue: #1974d1;
$body-text: #444;
$medium-grey: #eee;

$body-font-size: 18px;

$basic-box-shadow: 0 .25rem .5rem rgba(0,0,0,.12), 0 .125rem .25rem rgba(0,0,0,.2);
$hover-box-shadow: 0 .5rem 1rem rgba(0,0,0,.12), 0 .25rem .5rem rgba(0,0,0,.2);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  font-size: $body-font-size;
  font-weight: 400;
  line-height: 1.5;
  color: $body-text;
}

.wrapper {
  max-width: 45rem;
  padding: 0 1rem;
  margin: 0 auto;
}

h1,h2,ol,ul,p {
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
}

strike {
  display: inline;  
}

.search {
  margin-bottom: 1rem;
  padding: 0;
  position: relative;
  display: flex;
  border-radius: .5rem;
  overflow: hidden;
  background-color: $medium-grey;

  &:has(:focus) {
    box-shadow: $basic-box-shadow;
  }

  label {
    position: absolute;
    top: 11px;
    left: .75rem;
    pointer-events: none;
  }
}

#search-box {
  height: 3rem;
  border: 0;
  border-radius: .5rem;
  outline-offset: -2px;
  font-size: inherit;
  font-family: inherit;
  padding: 0 .75rem;
  flex-grow: 1;
  background-color: transparent;
}

#clear-button {
  cursor: pointer;
  border: 0;
  border-radius: .5rem;
  min-width: 3rem;
  text-align: center;
  transition: all 100ms ease;
  outline-offset: -2px;
  background: transparent;

  &:active {
    background: $blue;
  }
}

.recipe-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: .5rem;
  overflow: hidden;
  height: 100%;
  transition: all 200ms ease;
  box-shadow: $basic-box-shadow;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    box-shadow: $hover-box-shadow;
  }
}

.recipe-name {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.recipe {
  ol, ul{
    margin-left: 2rem;
  }

  li {
    padding-bottom: .75rem;
  }

  ul li{
    list-style-type: none;
    position: relative;

    &:before {
      content: "-";
      position: absolute;
      left: -1.5rem;
    }
  }

  a {
    color: $blue;
  }
}

.back-link {
  display: block;
  padding: 1rem;
  text-decoration: none;

  &:hover {
    color: #FFF;
    background: $blue;
  }
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

@media screen and (min-width: 640px) {
 .recipe-list {
    grid-template-columns: repeat(3, 1fr);
  }

}
