---
layout: recipe-list
---
  <h1>Improbably, easier than recipe cards</h1>
  {% include search.html %}
  <div class="recipe-box" aria-live="polite">
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="category">
      <h2>
        {{ category_name }}
      </h2>
      <ul class="recipe-list">
        {% assign posts = site.categories[category_name] | sort %}
        {% for post in posts %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}" class="recipe-card">
              {{ post.title  | capitalize }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
<script type="text/javascript" src="search.js"></script>
