---
layout: recipe-list
---
  <h1>Improbably, easier than recipe cards</h1>
  <div class="search">
    <label for="search-box" id="search-box-label">Search</label>
    <input type="text"
           id="search-box"
           aria-label="Search">
    <button id="clear-button" aria-label="Clear search">✖️</button>
  </div>
  <div class="recipe-box" aria-live="polite">
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="category">
      <h2>
        {{ category_name }}
      </h2>
      <ul class="recipe-list">
        {% for post in site.categories[category_name] %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}" class="recipe-card">
              {{ post.title  | capitalize }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
<script type="text/javascript" src="search.js"></script>
