@import url("https://rsms.me/inter/inter.css");

$blue: #1974d1;
$body-text: #444;
$medium-grey: #eee;

$body-font-size: 18px;

$basic-box-shadow:
  0 0.25rem 0.5rem rgba(0, 0, 0, 0.12),
  0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
$hover-box-shadow:
  0 0.5rem 1rem rgba(0, 0, 0, 0.12),
  0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-size: $body-font-size;
  font-weight: 400;
  line-height: 1.5;
  color: $body-text;
}

h1,
h2,
ol,
ul,
p {
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
}

strike {
  display: inline;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}
