@use "base";
@use "variables";

.recipe-list-wrapper {
  max-width: 45rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.search {
  margin-bottom: 1rem;
  padding: 0;
  position: relative;
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: base.$medium-grey;

  &:has(:focus) {
    box-shadow: base.$basic-box-shadow;
  }

  label {
    position: absolute;
    top: 11px;
    left: 0.75rem;
    pointer-events: none;
  }
}

#search-box {
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
  outline-offset: -2px;
  font-size: inherit;
  font-family: inherit;
  padding: 0 0.75rem;
  flex-grow: 1;
  background-color: transparent;
}

#clear-button {
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  min-width: 3rem;
  text-align: center;
  transition: all 100ms ease;
  outline-offset: -2px;
  background: transparent;

  &:active {
    background: base.$blue;
  }
}

.recipe-list {
  list-style: none;

  a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    margin: 0 -1rem;
    color: var(--body-text);
    border-radius: var(--border-radius);
    transition: all 150ms ease;

    &:hover {
      box-shadow: var(--hover-box-shadow);
    }
  }
}