@use "base";

.search {
  margin-bottom: 1rem;
  padding: 0;
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: base.$medium-grey;

  &:has(:focus) {
    box-shadow: base.$basic-box-shadow;
  }

  label {
    position: absolute;
    top: 11px;
    left: 0.75rem;
    pointer-events: none;
  }
}

#search-box {
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
  outline-offset: -2px;
  font-size: inherit;
  font-family: inherit;
  padding: 0 0.75rem;
  flex-grow: 1;
  background-color: transparent;
}

#clear-button {
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  min-width: 3rem;
  text-align: center;
  transition: all 100ms ease;
  outline-offset: -2px;
  background: transparent;

  &:active {
    background: base.$blue;
  }
}

.recipe-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
  transition: all 200ms ease;
  box-shadow: base.$basic-box-shadow;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    box-shadow: base.$hover-box-shadow;
  }
}

.recipe-name {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
}

@media screen and (min-width: 640px) {
  .recipe-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
