@use "variables";

@import url("https://rsms.me/inter/inter.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-size:var(--body-font-size);
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-text);
}

h1,
h2,
ol,
ul,
p {
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
}

strike {
  display: inline;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}
