@use "variables";

.recipe-list-wrapper {
  max-width: 45rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.recipe-list {
  list-style: none;

  a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    margin: 0 -1rem;
    color: var(--body-text);
    border-radius: var(--border-radius);
    transition: all 150ms ease;

    &:hover {
      box-shadow: var(--hover-box-shadow);
    }
  }
}