body {
  --blue: #1974d1;
  --body-text: #444;
  --medium-grey: #eee;

  --body-font-size: 18px;
  --small-font-size: 14px;

  --basic-box-shadow:
    0 0.25rem 0.5rem rgba(0, 0, 0, 0.12),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  --hover-box-shadow:
    0 0.5rem 1rem rgba(0, 0, 0, 0.12),
    0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);  

  --border-radius: 0.5rem;
}
